#actions.content-box
  .title 
    %h3 
      %strong What are you drinking?
  .box
    = form_for @search, :url => search_index_path, :html => { :method => :get } do |f|
      = f.autocomplete_field :name_contains, autocomplete_beer_name_beers_path 
      = f.submit :class => "search-button", :value => "Search"
    #browse-by
      %h3 Browse by:
      %ul
        %li= link_to "Beers", beers_path
        %li= link_to "Breweries", breweries_path 
        %li= link_to "Style", styles_path
