<div id="main">
  <h2 id="showName">
    <%= link_to "Beer Styles", styles_path, :class => "undecorated"%>
    &gt; <%= @style.name %>
  </h2>
  <%= will_paginate @beers %>
  <ul class="beers">
    <%= render @beers %>
  </ul>
  <%= will_paginate @beers %>
</div>
