<li class="index_item" >
  <div class="thumb"><%= link_to thumbnail(brewery), brewery %></div>
  <h3><%= link_to brewery.name, brewery %></h3>
  <span class="item_sub"><%= brewery.city %>,
                              <% if brewery.in_us? %>
                                <%= brewery.state.name if brewery.in_us? %>,
                              <% end %>
                              <%= brewery.country.name %>
  </span>
  <%= link_to "delete", brewery, :method => :delete, :confirm => "Are you sure?",
                                 :title => "Delete #{brewery.name}", :class => "delete_link" %>

</li>
