<%= form_for @brewery, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= select("brewery", "country_id", Country.all.collect {|c| [c.name, c.id] },
        { :include_blank => true}, 
        { :onchange => "if (this.value == '214') { $('state').show(); } else {$('state').hide();}"}) %>
  </div>
  <div class="field" id="state">
    <%= f.label :state %><br />
    <%= select("brewery", "state_id", State.all.collect {|s| [s.name, s.id] },
                                      :include_blank => true) %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :zipcode, "Zip Code" %><br />
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :info, "Additional Information" %><br />
    <%= f.text_area :info %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field  :image %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
