%li.index_item
  %span.thumb
    = link_to thumbnail(beer)
  %h3
    = link_to beer.name, beer
  - unless beer.brewery.nil?
    %span.item_sub
      = link_to beer.brewery.name, beer.brewery
  = link_to "delete", beer, :method => :delete, 
                            :confirm => "Are you sure?",
                            :title => "Delete #{beer.name}", 
                            :class => "delete_link"
