= form_for @beer, :html => { :multipart => true }  do |f|
  = render 'shared/error_messages', :object => f.object
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :style_id
    = select("beer", "style_id", beer_styles, :include_blank => true)
  .field
    = f.label :brewery_name, "Brewery"
    = f.autocomplete_field :brewery_name, autocomplete_brewery_name_beers_path
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :website
    = f.text_field :website
  .field
    = f.label :abv, "ABV"
    = f.text_field :abv
  .field
    = f.label :ibu, "IBUs"
    = f.text_field :ibu
  .field
    = f.label :image
    = f.file_field :image
  .actions
    = f.submit "Submit"
