<div id="main" >    
  <h1 id="showName"><%= @beer.name %></h1>
  <div id="showImage">
    <%= image_tag @beer.image.url, :alt => @beer.name %>
  </div>
  <%= link_to "Edit", edit_beer_path, :class => "edit_link" %>
  <div id="infoSection" >
    <p>
      <strong>Brewed by:</strong>
      <%= link_to @beer.brewery.name, brewery_path(@beer.brewery) %>
    </p>
    <% unless @beer.abv.blank? %>
      <p><strong>ABV:</strong> <%= @beer.abv %>%</p>
    <% end %>
    <% unless @beer.ibu.blank? %>
      <p><strong>IBU:</strong> <%= @beer.ibu %></p>
    <% end %>
  </div>
  <div id="description">
    <%= @beer.description %>
  </div>
</div>
<aside>
</aside>
