<%= title "#{@beer.name} | #{@beer.brewery.name}" %>
<% content_for :scripts do %>
  <%= javascript_include_tag 'jquery.rating.pack.js', 'jquery.metadata.js', 'rating.js' %>
<% end %>
<h3 id="showHeadTop">
  <%= link_to @beer.style.name, @beer.style, :class => "undecorated"%>
</h3>
<h1 id="showName"><%= @beer.name %></h1>
<div id="averageRating">
  <%= star_rating :readonly => true, :rating => @beer.average_rating %>
</div>
<div id="showImage">
  <%= image_tag @beer.image.url(:medium), :alt => @beer.name %>
</div>
<%= link_to "Edit", edit_beer_path, :class => "edit_link" %>
<% if user_signed_in? %>
  <div id="userOptions">
    <%= link_to "I'm drinking this", new_activity_path(:beer => @beer) %>
    <%= render :partial => "ratings/star_form" %>
  </div>
<% end %>
<div id="infoSection" >
  <p>
    <span class="label"><strong>Brewed by:</strong></span>
    <%= link_to @beer.brewery.name, brewery_path(@beer.brewery) %>
  </p>
  <% unless @beer.abv.blank? %>
    <p><span class="label"><strong>ABV:</strong></span> <%= @beer.abv %>%</p>
  <% end %>
  <% unless @beer.ibu.blank? %>
    <p><span class="label"><strong>IBUs:</strong></span> <%= @beer.ibu %></p>
  <% end %>
  <% unless @beer.original_gravity.blank? %>
    <p><span class="label"><strong>OG:</strong></span> <%= @beer.original_gravity%></p>
  <% end %>

</div>
<div id="description">
  <%= @beer.description %>
</div>
<%= render :partial => "activities/feed", :locals => { :activities => @beer.activities } %>
