<div id="show_container" >
  <div id="show_header">
    <%= link_to "Edit", edit_beer_path, :class => "edit_link" %>
    <h2><%= @beer.name %></h2>
  </div>
  <div id="show_info" >
    <%= link_to "Official Website", @beer.website, 
                :class => "external" unless @beer.website.blank? %>
    <br />
    Brewed by: <%= link_to @beer.brewery.name, brewery_path(@beer.brewery) %>
    <br />
    <%= @beer.description %>
    <br />
    <div id="beer_stats">
      <% unless @beer.abv.blank? %>
        <strong>ABV:</strong> <%= @beer.abv %><br />
      <% end %>
      <% unless @beer.ibu.blank? %>
        <strong>IBU:</strong> <%= @beer.ibu %><br />
      <% end %>
    </div>
  </div>
</div>
