<div id="all_tab" class="articles" >
  <ul id="tabnav">
    <li class="all_tab"><%= link_to "All", "#" %></li>
    <li class="reviews_tab"><%= link_to "Reviews", "#" %></li>
    <li class="news_tab"><%= link_to "News", "#" %></li>
    <li class="disc_tab"><%= link_to "Discussion", "#" %></li>
  </ul>
  <ul>
    <li><%= link_to "Link One", "#" %></li>
    <li><%= link_to "Link Two", "#" %></li>
    <li><%= link_to "Link Three", "#" %></li>
    <li><%= link_to "Link Four", "#" %></li>
    <li><%= link_to "Link Five", "#" %></li>
  </ul>
</div>
