%footer
  %nav.prepend-top
    %ul
      %li= link_to("About", "#")
      %li= link_to("Blog", "#")
      %li= link_to("API", "#")
      %li= link_to("Contact", "#")
      %li#last-footer= link_to("Support", "#")
