<header>
  <%= link_to logo, root_path %>
  <div>Connecting beer lovers around the world</div>
  <nav>
    <ul>
      <li><%= link_to "Settings", "#" %></li>
      <li><%= link_to "Help", "#" %></li>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Sign in", "#" %></li>
    </ul>
  </nav>
</header>
