<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Beers", beers_path %></li>
      <li><%= link_to "Breweries", breweries_path %></li>
      <li><%= link_to "API", "#" %></li>
      <li><%= link_to "About", "#" %></li>
      <li><%= link_to "Sign in", "#" %></li>
    </ul>
  </nav>
</header>
