%nav#sidenav
  %ul
    %li= link_to('Beers', beers_path)
    %li= link_to('Breweries', breweries_path)
    %li= link_to('Places', places_path)
    %li.usernav= link_to('Beer Log', '#')
    %li.usernav= link_to('Favorites', '#')
    %li.usernav= link_to('Cellar', '#')
