<nav id="sidenav">
  <ul>
    <li>
      <%= link_to('Beers', beers_path) %>
    </li>
    <li>
      <%= link_to('Breweries', breweries_path) %>
    </li>
    <li class="usernav">
      <%= link_to('Beer Log', '#') %>
    </li>
    <li class="usernav">
      <%= link_to('Favorites', '#') %>
    </li>
    <li class="usernav">
      <%= link_to('Cellar', '#') %>
    </li>
  </ul>
</nav>
