/[if lt IE 9]
  %script{ :src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js' }
= stylesheet_link_tag 'blueprint/screen', :media => 'screen'
= stylesheet_link_tag 'blueprint/print', :media => 'print'
/[if lt IE 8]
  = stylesheet_link_tag 'blueprint/ie'
= stylesheet_link_tag 'jquery-ui-1.8.5.custom.css'
= stylesheet_link_tag 'jquery.rating.css'
= stylesheet_link_tag 'main.css'
