<!DOCTYPE html>
<html>
  <head>
    <title>BeerMee - <%= yield :title %></title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag  'jquery-1.4.2.min.js',
                                'jquery-ui-1.8.5.custom.min.js',
                                'rails.js',
                                'application.js',
                                'autocomplete-rails.js' %>
    <%= yield :scripts %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="container">
      <%= render 'layouts/sidebar' %>
      <div id="main">
        <% if flash[:notice] %>
          <p class="notice"><%= notice %></p>
        <% elsif flash[:alert] %>
          <p class="alert"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
      <aside>
        <%= yield :aside %>
      </aside>
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
