!!! 5
%html
  %head
    %title
      BeerMee -
      = yield :title
    = render 'layouts/stylesheets'
    = javascript_include_tag  'jquery-1.4.2.min.js',
                              'jquery-ui-1.8.5.custom.min.js',
                              'rails.js',
                              'application.js',
                              'autocomplete-rails.js',
                              'jquery.rating.pack.js', 
                              'jquery.metadata.js',
                              'rating.js'

    = yield :scripts
    = csrf_meta_tag
  %body
    = render 'layouts/header'
    .container
      %hr.space
      #top.span-24.prepend-top.append-bottom
        - if flash[:notice]
          %p.notice= notice
        - elsif flash[:alert]
          %p.alert= alert
        = yield 
      %hr
      #feed.span-15.prepend-top
        = yield :feed
      #aside.push-1.span-8.prepend-top.last
        = yield :aside
      %hr.space
    = render 'layouts/footer'
